@page "/ingredientedit"
@page "/ingredientedit/{id}"

@if (Ingredient != null)
{
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <div class="row g-0">
                    <div class="col-md-8">
                        <h2>@Ingredient.Name</h2>
                    </div>
                    <div class="col-md-4 align-self-center">
                        <img class="img-fluid" src="@Ingredient.ImageUrl" />
                    </div>
                </div>
            </div>

            <div class="@AlertClass" role="alert">
                @AlertMessage
            </div>

            <div class="card-body">
                <EditForm Model="@Ingredient" OnValidSubmit="@SaveAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="name" class="col-sm-3">Ingredient name: </label>
                        <InputText id="name" class="form-control" @bind-Value="@Ingredient.Name" placeholder="Enter ingredient name"></InputText>
                        <ValidationMessage For="@(() => Ingredient.Name)" />
                    </div>

                    <div class="form-group mt-3">
                        <label for="image" class="col-sm-3">Select image: </label>
                        <InputFile id="image" class="form-control" OnChange="OnInputFileChangeAsync" accept="image/png, image/jpeg, image/gif" />
                        <ValidationMessage For="@(() => Ingredient.ImageContent)" />
                    </div>

                    <div class="form-group mt-3">
                        <label for="ingredientCategory" class="col-sm-3">Ingredient category: </label>
                        <InputSelect id="ingredientCategory" class="form-select" @bind-Value="@IngredientCategoryId">
                            <option selected value="0">Choose...</option>
                            @if (Categories != null && Categories.Any())
                            {
                                @foreach (var category in Categories!)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => Ingredient.IngredientCategoryId)" />
                    </div>

                    <div class="form-group mt-3">
                        <label for="unit" class="col-sm-3">Unit of measurement: </label>
                        <InputSelect id="unit" class="form-select" @bind-Value="@UnitId">
                            <option selected value="0">Choose...</option>
                            @if (Units != null && Units.Any())
                            {
                                @foreach (var unit in Units!)
                                {
                                    <option value="@unit.Id">@unit.Name</option>
                                }
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => Ingredient.UnitId)" />
                    </div>

                    <br />

                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    <button class="btn btn-danger btn-sm" type="button" @onclick="@DeleteAsync">Delete</button>
                    <button class="btn btn-primary btn-sm" type="button" @onclick="@NavigateToOverview">Back to overview</button>
                </EditForm>
            </div>
        </div>
    </div>
}