@page "/ingredientedit"
@page "/ingredientedit/{id}"

@*@if (!Saved)OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit"
{*@

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <h2>@Model.Name</h2>
        </div>

        <div class="card-body">
            <EditForm Model="@Model" OnValidSubmit="@Save">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="name" class="col-sm-3">Ingredient name: </label>
                    <InputText id="name" class="form-control" @bind-Value="@Model.Name" placeholder="Enter ingredient name"></InputText>
                    <ValidationMessage For="@(() => Model.Name)" />
                </div>

                <div class="form-group mt-3">
                    <label for="ingredientCategory" class="col-sm-3">Ingredient category: </label>
                    <InputSelect id="ingredientCategory" class="form-select" @bind-Value="@IngredientCategoryId">
                        <option selected value="0">Choose...</option>
                        @foreach (var category in Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Model.IngredientCategoryId)" />
                </div>

                <div class="form-group mt-3">
                    <label for="unit" class="col-sm-3">Unit of measurement: </label>
                    <InputSelect id="unit" class="form-select" @bind-Value="@UnitId">
                        <option selected value="0">Choose...</option>
                        @foreach (var unit in Units)
                        {
                            <option value="@unit.Id">@unit.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Model.UnitId)" />
                </div>

                <br />

                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                <button class="btn btn-primary btn-sm" type="button" @onclick="@NavigateToOverview">Back to overview</button>
            </EditForm>
        </div>
    </div>
</div>
@*}
else
{
    <div class="alert @StatusClass">@Message</div>
}*@
