@page "/mealplanedit"
@page "/mealplanedit/{Id}"

@*@if (!Saved)OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit"
{*@
<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <h2>Details for @Model.Name</h2>
        </div>

        <div class="card-body">
            <EditForm Model="@Model" OnValidSubmit="@Save">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="name" class="col-sm-3">Meal plan name: </label>
                    <InputText id="name" class="form-control" @bind-Value="@Model.Name" placeholder="Enter meal plan name"></InputText>
                    <ValidationMessage For="@(() => Model.Name)" />
                </div>

                <div class="form-group mt-3">
                    <label for="recipeCategory" class="col-sm-3">Recipe category: </label>
                    <InputSelect id="recipeCategory" class="form-select" ValueChanged="@((string value) => OnRecipeCategoryChanged(value))"
                                 Value="RecipeCategoryId" ValueExpression="@(() => RecipeCategoryId)">
                        <option selected value="0">Choose...</option>
                        @foreach (var item in Categories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </InputSelect>
                </div>

                <div class="form-group mt-3">
                    <label for="recipe" class="col-sm-3">Recipe: </label>
                    <div class="input-group">
                        <InputSelect id="recipe" class="form-select" ValueChanged="@((string value) => OnRecipeChanged(value))"
                                     Value="RecipeId" ValueExpression="@(() => RecipeId)">
                            <option selected value="0">Choose...</option>
                            @foreach (var item in Recipes)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </InputSelect>
                        @if (CanAddRecipe == true)
                        {
                            <button class="btn btn-primary" type="button" @onclick="@AddRecipe">Add</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" type="button" disabled @onclick="@AddRecipe">Add</button>
                        }
                    </div>
                </div>

                <div class="col">
                    <ValidationMessage For="@(() => Model.Recipes)" />
                    <TableTemplate Items="@Model.Recipes">
                        <TableCaption>List of recipes:</TableCaption>
                        <TableHeader>
                            <th>Category</th>
                            <th>Name</th>
                            <th></th>
                            <th></th>
                        </TableHeader>
                        <RowTemplate Context="CurrentRecipeModel">
                            <td>@CurrentRecipeModel.RecipeCategory.Name</td>
                            <td>@CurrentRecipeModel.Name</td>
                            <td>
                                <img src="@CurrentRecipeModel.ImageUrl" class="img-fluid" width="100" height="80" />
                            </td>
                            <td><button class="btn btn-primary btn-sm" type="button" @onclick="() => EditRecipe(CurrentRecipeModel)">Edit</button></td>
                        </RowTemplate>
                    </TableTemplate>
                </div>

                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                <button class="btn btn-primary btn-sm" type="button" @onclick="@ShowShoppingList">Shopping list</button>
                <button class="btn btn-primary btn-sm" type="button" @onclick="@NavigateToOverview">Back to overview</button>
            </EditForm>
        </div>
    </div>
</div>
@*}
else
{
    <div class="alert @StatusClass">@Message</div>
}*@
