@page "/mealplanedit"
@page "/mealplanedit/{Id}"

@*@if (!Saved)OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit"
{*@
<section>
    <h1 class="page-title">Details for @Model.Name</h1>
    <EditForm Model="@Model" OnValidSubmit="@Save">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group row">
            <label for="name" class="col-sm-3">Meal plan name: </label>
            <InputText id="name" class="form-control col-sm-8" @bind-Value="@Model.Name" placeholder="Enter meal plan name"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Model.Name)" />
        </div>

        <TableTemplate Items="@Model.Recipes">
            <TableCaption>List of recipes:</TableCaption>
            <TableHeader>
                <th>Category</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </TableHeader>
            <RowTemplate Context="CurrentRecipeModel">
                <td>@CurrentRecipeModel.RecipeCategory.Name</td>
                <td>@CurrentRecipeModel.Name</td>
                <td>
                    <img src="@CurrentRecipeModel.ImageUrl" width="100" height="80" />
                </td>
                <td><button class="btn btn-primary btn-sm" type="button" @onclick="() => EditRecipe(CurrentRecipeModel)">Edit</button></td>
            </RowTemplate>
        </TableTemplate>

        <button type="submit" class="btn btn-primary btn-sm">Save</button>
        <button class="btn btn-primary btn-sm" type="button" @onclick="@ShowShoppingList">Shopping list</button>
        <button class="btn btn-primary btn-sm" type="button" @onclick="@NavigateToOverview">Back to overview</button>
    </EditForm>
</section>
@*}
else
{
    <div class="alert @StatusClass">@Message</div>
}*@
