@page "/productedit"
@page "/productedit/{id}"

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="navItems"></Breadcrumb>

@if (Product != null)
{
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <table>
                    <tr class="row g-0" style="display:contents">
                        <td class="col-md-8" style="vertical-align: top">
                            <h2 id="headerName">@Product.Name</h2>
                        </td>
                        <td class="col-md-3" style="align-content:flex-end;">
                            <img class="img-fluid" src="@Product.ImageUrl" />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="card-body">
                <EditForm Model="@Product" OnValidSubmit="@SaveAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="name" class="col-sm-3">Product name: </label>
                        <InputText id="name" class="form-control" @bind-Value="@Product.Name" placeholder="Enter product name" oninput="updateHeader()"></InputText>
                        <ValidationMessage For="@(() => Product.Name)" />
                    </div>

                    <div class="form-group mt-3">
                        <label for="image" class="col-sm-3">Select image: </label>
                        <InputFile id="image" class="form-control" OnChange="OnInputFileChangeAsync" accept="image/png, image/jpeg, image/gif" />
                        <ValidationMessage For="@(() => Product.ImageContent)" />
                    </div>

                    <div class="form-group mt-3">
                        <label for="productCategory" class="col-sm-3">Product category: </label>
                        <InputSelect id="productCategory" class="form-select" @bind-Value="@Product.ProductCategoryId">
                            <option selected value="0">Choose...</option>
                            @if (Categories != null && Categories.Items != null && Categories.Items.Any())
                            {
                                @foreach (var category in Categories.Items!)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => Product.ProductCategoryId)" />
                    </div>

                    <div class="form-group mt-3">
                        <label for="unit" class="col-sm-3">Unit of measurement: </label>
                        <InputSelect id="unit" class="form-select" @bind-Value="@Product.BaseUnitId">
                            <option selected value="0">Choose...</option>
                            @if (Units != null && Units.Items != null && Units.Items.Any())
                            {
                                @foreach (var unit in Units.Items!)
                                {
                                    <option value="@unit.Id">@unit.Name</option>
                                }
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => Product.BaseUnitId)" />
                    </div>

                    <br />

                    <button type="submit" class="btn btn-primary btn-sm">Save</button>
                    <button class="btn btn-danger btn-sm" type="button" @onclick="@DeleteAsync">Delete</button>
                    <button class="btn btn-primary btn-sm" type="button" @onclick="@NavigateToOverview">Back to overview</button>
                </EditForm>
            </div>
        </div>
    </div>
}

<ConfirmDialog @ref="dialog" />

<script>
    function updateHeader() {
        var input = document.getElementById("name").value;
        document.getElementById("headerName").innerText = input;
    }
</script>