@page "/productsoverview"

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <div class="row g-0">
                <div class="col-md-11">
                    <h2>Products</h2>
                </div>
                <div class="col-auto align-self-center">
                    <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>
                </div>
            </div>
        </div>

        @if (Products != null)
        {
            <div class="card-body">
                <TableTemplateWithPagination Data="@Products" ShowIndex="true">
                    <TableHeader>
                        <th style="width: 320px">
                            <div>
                                <label for="category" class="col-sm-4">Category</label>
                                <select id="category" class="form-select-sm" style="width:200px" @onchange="@OnCategoryChangedAsync">
                                    <option selected value="0">Choose...</option>
                                    @if (Categories != null && Categories.Any())
                                    {
                                        @foreach (var item in Categories)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </th>
                        <th>Name</th>
                        <th></th>
                        <th>Unit</th>
                        <th style="width: 50px"></th>
                        <th style="width: 30px"></th>
                    </TableHeader>
                    <RowTemplate Context="Product">
                        <td>@Product.ProductCategory!.Name</td>
                        <td>@Product.Name</td>
                        <td>
                            <img src="@Product.ImageUrl" class="img-fluid" width="100" height="80" />
                        </td>
                        <td>@Product.Unit!.Name</td>
                        <td><button class="btn btn-primary btn-sm" type="button" @onclick="() => Update(Product)">Edit</button></td>
                        <td><button class="btn-close btn-sm" type="button" @onclick="() => DeleteAsync(Product)"></button></td>
                    </RowTemplate>
                </TableTemplateWithPagination>

                @if (Products.Metadata != null)
                {
                     <Pagination ActivePageNumber="@Products.Metadata.PageNumber"
                                TotalPages="@Products.Metadata.TotalPages"
                                DisplayPages="@Products.Metadata.PageSize"
                                FirstLinkIcon="IconName.ChevronDoubleLeft"
                                PreviousLinkIcon="IconName.ChevronLeft"
                                NextLinkIcon="IconName.ChevronRight"
                                LastLinkIcon="IconName.ChevronDoubleRight"
                                Alignment="Alignment.Center" 
                                PageChanged="OnPageChangedAsync" />
                }
            </div>
        }
    </div>
</div>

<ConfirmDialog @ref="dialog" />

