@page "/recipeedit"
@page "/recipeedit/{id}"

@*@if (!Saved)OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit"
{*@
<section>
    <div class="header">
        <h1 class="page-title">@Model.Name</h1>
        <img class="imgProfile" src="@Model.ImageUrl" />
    </div>

    <EditForm Model="@Model" OnValidSubmit="@Save">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group row">
            <label for="name" class="col-sm-3">Recipe name: </label>
            <InputText id="name" class="form-control col-sm-8" @bind-Value="@Model.Name" placeholder="Enter recipe name"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Model.Name)" />
        </div>
        
        <div class="form-group row">
            <label for="recipecategory" class="col-sm-3">Recipe category: </label>
            <InputSelect id="recipecategory" class="form-control col-sm-8" @bind-Value="@RecipeCategoryId">
                @foreach (var category in Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </InputSelect>
        </div>

        <div class="form-group row">
            <label for="image" class="col-sm-3">Select image: </label>
            <InputFile class="custom-file-input" OnChange="OnInputFileChange" multiple accept="image/png, image/jpeg, image/gif" id="inputFile" />
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model.Ingredients == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    @foreach (var item in @Model.Ingredients)
                    {
                        <tr>
                            <td>@item.Ingredient.Name</td>
                            <td>@item.Quantity</td>
                            <td>@item.Ingredient.Unit.Name</td>
                            <td>@item.Ingredient.IngredientCategory.Name</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary edit-btn">Save</button>

        <a class="btn btn-primary table-btn" @onclick="@NavigateToOverview">Back to overview</a>
    </EditForm>
</section>
@*}
else
{
    <div class="alert @StatusClass">@Message</div>
}*@
