@page "/recipeedit"
@page "/recipeedit/{id}"

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <div class="row g-0">
                <div class="col-md-8">
                    <h2>@Recipe.Name</h2>
                </div>
                <div class="col-md-4 align-self-center">
                    <img class="img-fluid" src="@Recipe.ImageUrl" />
                </div>
            </div>
        </div>

        <div class="@AlertClass" role="alert">
            @AlertMessage
        </div>

        <div class="card-body">
            <EditForm Model="@Recipe" OnValidSubmit="@SaveAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="name" class="col-sm-3">Recipe name: </label>
                    <InputText id="name" class="form-control" @bind-Value="@Recipe.Name" placeholder="Enter recipe name"></InputText>
                    <ValidationMessage For="@(() => Recipe.Name)" />
                </div>

                <div class="form-group mt-3">
                    <label for="recipeCategory" class="col-sm-3">Recipe category: </label>
                    <InputSelect id="recipeCategory" class="form-select" @bind-Value="@RecipeCategoryId">
                        <option selected value="0">Choose...</option>
                        @foreach (var item in RecipeCategories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => Recipe.RecipeCategoryId)" />
                </div>

                <div class="form-group mt-3">
                    <label for="image" class="col-sm-3">Select image: </label>
                    <InputFile id="image" class="form-control" OnChange="OnInputFileChangeAsync" accept="image/png, image/jpeg, image/gif" />
                    <ValidationMessage For="@(() => Recipe.ImageContent)" />
                </div>

                <div class="form-group mt-3">
                    <label for="ingredientCategory" class="col-sm-3">Ingredient category: </label>
                    <InputSelect id="ingredientCategory" class="form-select" ValueChanged="@((string value) => OnIngredientCategoryChangedAsync(value))"
                                 Value="IngredientCategoryId" ValueExpression="@(() => IngredientCategoryId)">
                        <option selected value="0">Choose...</option>
                        @foreach (var item in IngredientCategories)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </InputSelect>
                </div>

                <div class="form-group mt-3">
                    <label for="ingredient" class="col-sm-3">Ingredient: </label>
                    <InputSelect id="ingredient" class="form-select" ValueChanged="@((string value) => OnIngredientChanged(value))"
                                 Value="IngredientId" ValueExpression="@(() => IngredientId)">
                        <option selected value="0">Choose...</option>
                        @foreach (var item in Ingredients)
                        {
                            <option value="@item.Id">@item.Name (@item.Unit.Name)</option>
                        }
                    </InputSelect>
                </div>

                <div class="form-group mt-3">
                    <label for="quantity" class="col-sm-3">Quantity: </label>
                    <div class="input-group">
                        <InputText id="quantity" class="form-control" @bind-Value="@Quantity" placeholder="Quantity"></InputText>
                        @if (CanAddIngredient == true)
                        {
                            <button class="btn btn-primary" type="button" @onclick="@AddIngredient">Add</button>
                        }
                        else
                        {
                            <button class="btn btn-primary" type="button" disabled @onclick="@AddIngredient">Add</button>
                        }
                    </div>
                    <ValidationMessage For="@(() => Quantity)" />
                </div>

                <br />

                <div class="col">
                    <ValidationMessage For="@(() => Recipe.Ingredients)" />
                    <TableTemplate Items="@Recipe.Ingredients" ShowIndex="true">
                        <TableCaption>List of ingredients:</TableCaption>
                        <TableHeader>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Category</th>
                            <th scope="col"></th>
                        </TableHeader>
                        <RowTemplate Context="RecipeIngredient">
                            <td>@RecipeIngredient.Ingredient.Name</td>
                            <td>@RecipeIngredient.Quantity</td>
                            <td>@RecipeIngredient.Ingredient.Unit.Name</td>
                            <td>@RecipeIngredient.Ingredient.IngredientCategory.Name</td>
                            <td><button class="btn-close btn-sm" type="button" @onclick="() => DeleteIngredientAsync(RecipeIngredient.Ingredient)"></button></td>
                        </RowTemplate>
                    </TableTemplate>
                </div>

                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                <button class="btn btn-danger btn-sm" type="button" @onclick="@DeleteAsync">Delete</button>
                <button class="btn btn-primary btn-sm" type="button" @onclick="@NavigateToOverview">Back to overview</button>
            </EditForm>
        </div>
    </div>
</div>
