@page "/recipecategoryedit"
@page "/recipecategoryedit/{Id}"

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="navItems"></Breadcrumb>

@if (RecipeCategory != null)
{
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <table>
                    <tr class="row g-0" style="display:contents">
                        <td class="col-md-8" style="vertical-align: top">
                            <h2 id="headerName">@RecipeCategory.Name</h2>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="card-body">
                <EditForm Model="@RecipeCategory" OnValidSubmit="@SaveAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="name" class="col-sm-3">Recipe category name: </label>
                        <InputText id="name" class="form-control" @bind-Value="@RecipeCategory.Name" placeholder="Enter recipe category name" oninput="updateHeader()"></InputText>
                        <ValidationMessage For="@(() => RecipeCategory.Name)" />
                    </div>

                    <div class="col mt-3">
                        <button class="btn btn-primary btn-sm" type="submit">Save</button>
                        <button class="btn btn-danger btn-sm" type="button" @onclick="@DeleteAsync">Delete</button>
                        <button class="btn btn-primary btn-sm" type="button" @onclick="@NavigateToOverview">Back to overview</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}

<ConfirmDialog @ref="dialog" />

<script>
    function updateHeader() {
        var input = document.getElementById("name").value;
        document.getElementById("headerName").innerText = input;
    }
</script>