@page "/shopedit"
@page "/shopedit/{Id}"

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="NavItems"></Breadcrumb>

@if (Shop != null)
{
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <div class="row g-0">
                    <div class="col-md-8">
                        <h2>@Shop.Name</h2>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <EditForm Model="@Shop" OnValidSubmit="@SaveAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label for="name" class="col-sm-3">Shop name: </label>
                        <InputText id="name" class="form-control" @bind-Value="@Shop.Name" placeholder="Enter shop name"></InputText>
                        <ValidationMessage For="@(() => Shop.Name)" />
                    </div>

                    <div class="form-group mt-3">
                        <label for="display" class="col-sm-3">Display order: </label>
                    </div>

                    <div class="col">
                        <TableTemplate Data="@Shop.DisplaySequence" ShowIndex="true">
                            <TableHeader>
                                <th>Name</th>
                                <th style="width: 100px"></th>
                            </TableHeader>
                            <RowTemplate Context="DisplaySequence">
                                <td>
                                    @DisplaySequence.ProductCategory?.Name
                                </td>
                                <td>
                                    @if (DisplaySequence.IsSelected)
                                    {
                                        @if (CanMoveUp(DisplaySequence) == true)
                                        {
                                            <button class="btn btn-primary btn-sm" type="button" @onclick="() => MoveUp(DisplaySequence)">&#9650;</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary btn-sm" type="button" disabled @onclick="() => MoveUp(DisplaySequence)">&#9650;</button>
                                        }
                                        @if (CanMoveDown(DisplaySequence) == true)
                                        {
                                            <button class="btn btn-primary btn-sm" type="button" style="margin-left: 5px;" @onclick="() => MoveDown(DisplaySequence)">&#9660;</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary btn-sm" type="button" style="margin-left: 5px;" disabled @onclick="() => MoveDown(DisplaySequence)">&#9660;</button>
                                        }
                                    }
                                </td>
                            </RowTemplate>
                        </TableTemplate>
                    </div>

                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                    <button class="btn btn-danger btn-sm" type="button" @onclick="@DeleteAsync">Delete</button>
                    <button class="btn btn-primary btn-sm" type="button" @onclick="@NavigateToOverview">Back to overview</button>
                </EditForm>
            </div>
        </div>
    </div>
}

<ConfirmDialog @ref="dialog" />