@page "/shoppinglistedit"
@page "/shoppinglistedit/{id}"

@if (Model != null)
{
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <div class="row g-0">
                    <div class="col-md-8">
                        <h2>@Model.Name</h2>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <TableTemplate Items="@Model.Products">
                    <TableCaption>Products:</TableCaption>
                    <TableHeader>
                        <th></th>
                        <th>Name</th>
                        <th>Quantity</th>
                    </TableHeader>
                    <RowTemplate Context="ProductModel">
                        @if (ProductModel != null && ProductModel.Product != null)
                        {
                            <td style="vertical-align:middle; text-align: center">
                               @* @if (@ProductModel.Collected)
                                {
                                    <div style="filter: blur(3px);">
                                        <input type="checkbox" checked="@ProductModel.Collected" @onchange="eventArgs => { CheckboxChanged(ProductModel, eventArgs.Value!); }" />
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <input type="checkbox" checked="@ProductModel.Collected" @onchange="eventArgs => { CheckboxChanged(ProductModel, eventArgs.Value!); }" />
                                    </div>
                                }*@
                            </td>
                            <td style="vertical-align:middle">
                                <div style="display:flex; align-items: center">
                                    <img src="@ProductModel.Product.ImageUrl" class="img-fluid" width="100" height="80" />
                                    <p>&nbsp;&nbsp;</p>
                                    <p>@ProductModel.Product.Name</p>
                                </div>
                            </td>
                            <td style="vertical-align:middle">
                                @ProductModel.Quantity
                            </td>
                        }
                    </RowTemplate>
                </TableTemplate>

                <button class="btn btn-primary btn-sm" type="button" @onclick="@NavigateToOverview">Back to overview</button>
            </div>
        </div>
    </div>
}
