@page "/shoppinglist"
@page "/shoppinglist/{id}"

<PageTitle>Shopping list</PageTitle>

<h1 class="page-title">Shopping list details for @Model!.Name</h1>

<TableTemplate Items="@Model.Ingredients">
    <TableCaption>List of ingredients:</TableCaption>
    <TableHeader>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Category</th>
    </TableHeader>
    <RowTemplate Context="CurrentIngredientModel">
        <td>@CurrentIngredientModel.Ingredient!.Name</td>
        <td>@CurrentIngredientModel.Quantity</td>
        <td>@CurrentIngredientModel.Ingredient.Unit!.Name</td>
        <td>@CurrentIngredientModel.Ingredient.IngredientCategory!.Name</td>
    </RowTemplate>
</TableTemplate>

<button class="btn btn-primary btn-sm" type="button" @onclick="@NavigateToOverview">Back to overview</button>
