@page "/identities/change-password"

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="_navItems"></Breadcrumb>

<div class="card">
    <div class="card-header">
        <h5>@Resources.ChangePassword.PageTitle</h5>
    </div>
    <div class="card-body">
        @if (_invalidLink)
        {
            <p class="text-danger">@Resources.ChangePassword.InvalidLink</p>
            <button type="button" class="btn btn-secondary btn-sm mt-2" @onclick="NavigateBack">@Resources.ChangePassword.BackButton</button>
        }
        else
        {
            <EditForm Model="@ChangePasswordModel" OnValidSubmit="@OnSubmitAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="currentpassword" class="col-sm-3">@Resources.ChangePassword.CurrentPasswordLabel</label>
                    <PasswordInput id="currentpassword" class="form-control" @bind-Value="@ChangePasswordModel.CurrentPassword" placeholder="@Resources.ChangePassword.PlaceholderCurrentPassword"></PasswordInput>
                    <ValidationMessage For="@(() => ChangePasswordModel.CurrentPassword)" />
                </div>

                <div class="form-group mt-3">
                    <label for="newpassword" class="col-sm-3">@Resources.ChangePassword.NewPasswordLabel</label>
                    <PasswordInput id="newpassword" class="form-control" @bind-Value="@ChangePasswordModel.NewPassword" placeholder="@Resources.ChangePassword.PlaceholderNewPassword"></PasswordInput>
                    <ValidationMessage For="@(() => ChangePasswordModel.NewPassword)" />
                </div>

                <div class="form-group mt-3">
                    <label for="confirmnewpassword" class="col-sm-3">@Resources.ChangePassword.ConfirmNewPasswordLabel</label>
                    <PasswordInput id="confirmnewpassword" class="form-control" @bind-Value="@ChangePasswordModel.ConfirmPassword" placeholder="@Resources.ChangePassword.PlaceholderConfirmNewPassword"></PasswordInput>
                    <ValidationMessage For="@(() => ChangePasswordModel.ConfirmPassword)" />
                </div>

                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary btn-sm">@Resources.ChangePassword.SubmitButton</button>
                    <button type="button" class="btn btn-primary btn-sm" @onclick="NavigateBack">@Resources.ChangePassword.BackButton</button>
                </div>
            </EditForm>
        }
    </div>
</div>
