@page "/mealplans/mealplansoverview"
@using MealPlanner.Shared.Models

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="_navItems"></Breadcrumb>

<style>
    .grid-additional-columns th:nth-child(1),
    .grid-additional-columns td:nth-child(1) {
        width: 40px;
        max-width: 40px;
    }

    .grid-additional-columns th:nth-child(4),
    .grid-additional-columns td:nth-child(4) {
        width: 40px;
        max-width: 40px;
    }
</style>

<div class="card">
    <div class="card-header">
        <table>
            <tr>
                <td style="width: 100%;">
                    <h2>@Resources.MealPlansOverview.PageTitle</h2>
                </td>
                <td style="white-space: nowrap;">
                    <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">@Resources.MealPlansOverview.NewButton</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="card-body">
        <GridTemplate TItem="MealPlanModel" @key="@_gridKey" @ref="_mealPlansGrid" DataProvider="DataProviderAsync" SettingsProvider="SettingsProviderAsync" TableGridClass="@_tableGridClass">
            <Columns>
                <GridColumn TItem="MealPlanModel" HeaderText="@Resources.MealPlansOverview.ColumnIndex" PropertyName="Index" Filterable="false" Sortable="false">
                    @context.Index
                </GridColumn>
                <GridColumn TItem="MealPlanModel" HeaderText="@Resources.MealPlansOverview.ColumnName" PropertyName="Name" SortString="Name" SortKeySelector="item => item.Name" StringComparison="StringComparison.OrdinalIgnoreCase">
                    <div style="cursor: pointer;" @onclick="() => Update(context)">
                        @context.Name
                    </div>
                </GridColumn>
                <GridColumn TItem="MealPlanModel" HeaderText="@Resources.MealPlansOverview.ColumnCreatedAt" PropertyName="CreatedAt" IsDefaultSortColumn="true" SortDirection="@_createdAtSortDirection" SortString="CreatedAt" SortKeySelector="item => item.CreatedAt">
                    @context.CreatedAt?.ToString("d")
                </GridColumn>
                <GridColumn TItem="MealPlanModel" Filterable="false">
                    <button class="btn btn-link btn-sm p-0 text-danger" type="button" @onclick="() => DeleteAsync(context)">
                        <i class="bi bi-trash"></i>
                    </button>
                </GridColumn>
            </Columns>
        </GridTemplate>
    </div>
</div>

<ConfirmDialog @ref="_dialog" />
