@page "/mealplans/shoppinglistedit"
@page "/mealplans/shoppinglistedit/{id}"

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="_navItems"></Breadcrumb>


@if (ShoppingList != null)
{
    <div class="card">
        <div class="card-header">
            <table>
                <tr>
                    <td style="width: 100%;">
                        <h2 id="headerName" class="d-inline">@ShoppingList.Name</h2>
                    </td>
                    <td style="white-space: nowrap;">
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => Export()">@Resources.ShoppingListEdit.ExportButton</button>
                    </td>
                    @if (showCopiedMessage)
                    {
                        <td>
                            <div class="alert alert-success position-fixed bottom-0 end-0 m-3 py-1 px-2">
                                @Resources.ShoppingListEdit.CopiedToClipboard
                            </div>
                        </td>
                    }
                </tr>
            </table>
        </div>

        <div class="card-body">
            <EditForm Model="@ShoppingList" OnValidSubmit="@SaveAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="name" class="col-sm-3">@Resources.ShoppingListEdit.LabelShoppingListName</label>
                    <InputText id="name" class="form-control" @bind-Value="@ShoppingList.Name" placeholder="@Resources.ShoppingListEdit.PlaceholderShoppingListName" oninput="updateHeader()"></InputText>
                    <ValidationMessage For="@(() => ShoppingList.Name)" />
                </div>

                <div class="form-group mt-3">
                    <label for="Shop" class="col-sm-3">@Resources.ShoppingListEdit.LabelShop</label>
                    <select id="Shop" class="form-select" @onchange="OnShopChangedAsync">
                        <option selected value="0">@Resources.ShoppingListEdit.ChooseOption</option>
                        @if (Shops?.Items != null && Shops.Items.Any())
                        {
                            @foreach (var item in Shops.Items)
                            {
                                if (item.Id == ShoppingList.ShopId)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        }
                    </select>
                </div>

                <div class="form-group mt-3">
                    <label for="ProductCategory" class="col-sm-3">@Resources.ShoppingListEdit.LabelProductCategory</label>
                    <select id="ProductCategory" class="form-select" @onchange="OnProductCategoryChangedAsync">
                        <option selected value="0">@Resources.ShoppingListEdit.ChooseOption</option>
                        @if (Categories != null && Categories.Items != null && Categories.Items.Any())
                        {
                            @foreach (var item in Categories.Items)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group mt-3">
                    <label for="Product" class="col-sm-3">@Resources.ShoppingListEdit.LabelProduct</label>
                    <select id="Product" class="form-select" @onchange="OnProductChangedAsync">
                        <option selected value="0">@Resources.ShoppingListEdit.ChooseOption</option>
                        @if (Products != null && Products!.Items!.Any())
                        {
                            @foreach (var item in Products?.Items!)
                            {
                                <option value="@item.Id">@item.Name (@item.BaseUnit!.Name)</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group mt-3">
                    <label for="unit" class="col-sm-3">@Resources.ShoppingListEdit.LabelUnitOfMeasurement</label>
                    <InputSelect id="unit" class="form-select" @bind-Value="@UnitId">
                        <option selected value="0">@Resources.ShoppingListEdit.ChooseOption</option>
                        @if (Units != null && Units.Any())
                        {
                            @foreach (var unit in Units!)
                            {
                                <option value="@unit.Id">@unit.Name</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => UnitId)" />
                </div>

                <div class="form-group mt-3">
                    <label for="quantity" class="col-sm-3">@Resources.ShoppingListEdit.LabelQuantity</label>
                    <div class="input-group">
                        <InputText id="quantity" class="form-control" @bind-Value="@Quantity" @oninput="CheckQuantityAsync" placeholder="@Resources.ShoppingListEdit.PlaceholderQuantity"></InputText>
                        <button id="addButton" class="btn btn-primary" type="button" @onclick="AddProductAsync" disabled="@(!CanAddProduct)">@Resources.ShoppingListEdit.AddButton</button>
                    </div>
                    <ValidationMessage For="@(() => Quantity)" />
                </div>

                <br />

                <div class="card-body">
                    <TableTemplate Data="@ShoppingList.Products" ColumnCount="3">
                        <TableCaption>@Resources.ShoppingListEdit.TableCaptionProducts</TableCaption>
                        <TableHeader>
                            <th style="width: 40px"></th>
                            <th></th>
                            <th style="width: 40px"></th>
                        </TableHeader>
                        <RowTemplate Context="ProductModel">
                            @if (ProductModel != null && ProductModel.Product != null)
                            {
                                <td style="vertical-align:middle; text-align: center">
                                    <input type="checkbox" checked="@ProductModel.Collected" @onchange="async (e) => await CheckboxChangedAsync(ProductModel, (bool)(e.Value ?? false))" />
                                </td>
                                <td style="vertical-align:middle">
                                    <div style="display:flex; align-items: center">
                                        <img src="@ProductModel.Product.ImageUrl" class="img-fluid" width="100" height="80" />
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        <p>@ProductModel.Product.Name</p>
                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
                                        <p>@ProductModel.Quantity</p>
                                        <p>&nbsp;&nbsp;</p>
                                        <p>@ProductModel.Unit?.Name</p>
                                    </div>
                                </td>
                                <td><button class="btn-close btn-sm" type="button" @onclick="() => DeleteProductAsync(ProductModel.Product)"></button></td>
                            }
                        </RowTemplate>
                    </TableTemplate>

                    <button type="submit" class="btn btn-primary btn-sm">@Resources.ShoppingListEdit.SaveButton</button>
                    <button class="btn btn-danger btn-sm" type="button" @onclick="async () => await DeleteAsync()">@Resources.ShoppingListEdit.DeleteButton</button>

                    <button class="btn btn-primary btn-sm" type="button" style="margin:5px" @onclick="async () => await AddMealPlanAsync()" disabled="@(!CanAddMealPlan)">@Resources.ShoppingListEdit.AddMealPlanButton</button>
                    <button class="btn btn-primary btn-sm" type="button" style="margin:0px,5px, 5px, 5px" @onclick="async () => await AddRecipeAsync()" disabled="@(!CanAddRecipe)">@Resources.ShoppingListEdit.AddRecipeButton</button>
                    <button class="btn btn-primary btn-sm" type="button" style="margin:5px" @onclick="NavigateToOverview">@Resources.ShoppingListEdit.BackToOverviewButton</button>
                </div>
            </EditForm>
        </div>
    </div>
}

<ConfirmDialog @ref="_dialog" />

<script>
    function checkQuantity() {
        var quantity = document.getElementById("quantity").value;
        var unit = document.getElementById("unit").value;
        var addButton = document.getElementById("addButton");
        if (quantity > 0 && unit != "0") {
            addButton.disabled = false;
        } else {
            addButton.disabled = true;
        }
    }

    function updateHeader() {
        var input = document.getElementById("name").value;
        document.getElementById("headerName").innerText = input;
    }
</script>