@page "/mealplans/shoppinglistsoverview"
@using MealPlanner.Shared.Models

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="_navItems"></Breadcrumb>

<style>
    .grid-additional-columns th:nth-child(1),
    .grid-additional-columns td:nth-child(1) {
        width: 40px;
        max-width: 40px;
    }

    .grid-additional-columns th:nth-child(4),
    .grid-additional-columns td:nth-child(4) {
        width: 60px;
        max-width: 60px;
    }

    .grid-additional-columns th:nth-child(5),
    .grid-additional-columns td:nth-child(5) {
        width: 40px;
        max-width: 40px;
    }
</style>

@if (showCopiedMessage)
{
    <div class="alert alert-success position-fixed bottom-0 end-0 m-3 py-1 px-2">
        @Resources.ShoppingListsOverview.CopiedToClipboard
    </div>
}

<div class="card">
    <div class="card-header">
        <table>
            <tr>
                <td style="width: 100%;">
                    <h2>@Resources.ShoppingListsOverview.PageTitle</h2>
                </td>
                <td style="white-space: nowrap;">
                    <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">@Resources.ShoppingListsOverview.NewButton</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="card-body">
        <GridTemplate TItem="ShoppingListModel" @key="@_gridKey" @ref="_shoppingListsGrid" DataProvider="DataProviderAsync" SettingsProvider="SettingsProviderAsync" TableGridClass="@_tableGridClass">
            <Columns>
                <GridColumn TItem="ShoppingListModel" HeaderText="@Resources.ShoppingListsOverview.ColumnIndex" PropertyName="Index" Filterable="false" Sortable="false">
                    @context.Index
                </GridColumn>
                <GridColumn TItem="ShoppingListModel" HeaderText="@Resources.ShoppingListsOverview.ColumnName" PropertyName="Name" SortString="Name" SortKeySelector="item => item.Name" StringComparison="StringComparison.OrdinalIgnoreCase">
                    <div style="cursor: pointer;" @onclick="() => Update(context)">
                        @context.Name
                    </div>
                </GridColumn>
                <GridColumn TItem="ShoppingListModel" HeaderText="@Resources.ShoppingListsOverview.ColumnCreatedAt" PropertyName="CreatedAt" IsDefaultSortColumn="true" SortDirection="@_createdAtSortDirection" SortString="CreatedAt" SortKeySelector="item => item.CreatedAt">
                    @context.CreatedAt?.ToString("d")
                </GridColumn>
                <GridColumn TItem="ShoppingListModel" Filterable="false">
                    <button class="btn btn-primary btn-sm" type="button" @onclick="() => Export(context)">@Resources.ShoppingListsOverview.ExportButton</button>
                </GridColumn>
                <GridColumn TItem="ShoppingListModel" Filterable="false">
                    <button class="btn btn-link btn-sm p-0 text-danger" type="button" @onclick="() => DeleteAsync(context)">
                        <i class="bi bi-trash"></i>
                    </button>
                </GridColumn>
            </Columns>
        </GridTemplate>
    </div>
</div>

<ConfirmDialog @ref="_dialog" />