@page "/recipebooks/productcategoryedit"
@page "/recipebooks/productcategoryedit/{Id}"

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="_navItems"></Breadcrumb>

@if (ProductCategory != null)
{
    <div class="card">
        <div class="card-header">
            <table>
                <tr class="row g-0" style="display:contents">
                    <td class="col-md-8" style="vertical-align: top">
                        <h2 id="headerName">@ProductCategory.Name</h2>
                    </td>
                </tr>
            </table>
        </div>

        <div class="card-body">
            <EditForm Model="@ProductCategory" OnValidSubmit="@SaveAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="name" class="col-sm-3">Product category name: </label>
                    <InputText id="name" class="form-control" @bind-Value="@ProductCategory.Name" placeholder="Enter product category name" oninput="updateHeader()"></InputText>
                    <ValidationMessage For="@(() => ProductCategory.Name)" />
                </div>

                <div class="col mt-3">
                    <button class="btn btn-primary btn-sm" type="submit">Save</button>
                    <button class="btn btn-danger btn-sm" type="button" @onclick="async () => await DeleteAsync()">Delete</button>
                    <button class="btn btn-primary btn-sm" type="button" @onclick="NavigateToOverview">Back to overview</button>
                </div>
            </EditForm>
        </div>
    </div>
}

<ConfirmDialog @ref="_dialog" />

<script>
    function updateHeader() {
        var input = document.getElementById("name").value;
        document.getElementById("headerName").innerText = input;
    }
</script>