@page "/recipebooks/productcategoriesoverview"
@using RecipeBook.Shared.Models

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="_navItems"></Breadcrumb>

<style>
    .grid-additional-columns th:nth-child(1),
    .grid-additional-columns td:nth-child(1) {
        width: 40px;
        max-width: 40px;
    }

    .grid-additional-columns th:nth-child(3),
    .grid-additional-columns td:nth-child(3) {
        width: 40px;
        max-width: 40px;
    }
</style>

<div class="card">
    <div class="card-header">
        <table>
            <tr>
                <td style="width: 100%;">
                    <h2>@Resources.ProductCategoriesOverview.PageTitle</h2>
                </td>
                <td style="white-space: nowrap;">
                    <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">@Resources.ProductCategoriesOverview.NewButton</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="card-body">
        <GridTemplate TItem="ProductCategoryModel" @key="@_gridKey" @ref="_categoriesGrid" DataProvider="DataProviderAsync" SettingsProvider="SettingsProviderAsync" TableGridClass="@_tableGridClass">
            <Columns>
                <GridColumn TItem="ProductCategoryModel" HeaderText="@Resources.ProductCategoriesOverview.HeaderIndex" PropertyName="Index" Filterable="false" Sortable="false">
                    @context.Index
                </GridColumn>
                <GridColumn TItem="ProductCategoryModel" HeaderText="@Resources.ProductCategoriesOverview.HeaderName" PropertyName="Name" SortString="Name" SortKeySelector="item => item.Name" IsDefaultSortColumn="true" SortDirection="@_nameSortDirection" StringComparison="StringComparison.OrdinalIgnoreCase">
                    <div style="cursor: pointer;" @onclick="() => Update(context)">
                        @context.Name
                    </div>
                </GridColumn>
                <GridColumn TItem="ProductCategoryModel" Filterable="false">
                    <button class="btn btn-link btn-sm p-0 text-danger" type="button" @onclick="() => DeleteAsync(context)">
                        <i class="bi bi-trash"></i>
                    </button>
                </GridColumn>
            </Columns>
        </GridTemplate>
    </div>
</div>

<ConfirmDialog @ref="_dialog" />