@page "/"
@page "/recipebooks/recipesoverview"

@using RecipeBook.Shared.Models

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="_navItems"></Breadcrumb>

<style>
    .card {
        min-width: 1370px;
    }
</style>

<div class="col-sm-6">
    <div class="card">
        <div class="card-header">
            <table>
                <tr>
                    <td style="width: 100%;">
                        <h2>Recipes</h2>
                    </td>
                    <td style="white-space: nowrap;">
                        <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">New</button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="card-body">
            <GridTemplate TItem="RecipeModel" @ref="_recipesGrid" DataProvider="DataProviderAsync" TableGridClass="@_tableGridClass">
                <Columns>
                    <GridColumn FilterTextboxWidth="600" Style="min-width: 740px;" TItem="RecipeModel" HeaderText="Name" PropertyName="Name" SortString="Name" SortKeySelector="item => item.Name" IsDefaultSortColumn="true" SortDirection="SortDirection.Ascending" StringComparison="StringComparison.OrdinalIgnoreCase">
                        <div class="card-recipe">
                            <div class="card-header" style="padding: 0px;">
                                <img src="@context.ImageUrl" class="img-fluid" style="width: 200px; height: 100%; object-fit: cover; cursor: pointer; border-top-left-radius: 5px; border-top-right-radius: 5px;" @onclick="() => Update(context)" />
                            </div>
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <td class="fill-space">
                                            @context.Name
                                        </td>
                                        <td class="min-space">
                                            @if (!string.IsNullOrWhiteSpace((context.Source)))
                                            {
                                                <a href="@context.Source" target="_blank">
                                                    <img src="Images\webIcon.png" alt="icon" class="small-icon">
                                                </a>
                                            }
                                        </td>
                                        <td class="min-space">
                                            <img src="Images\delete.png" alt="icon" class="small-icon" @onclick="() => DeleteAsync(context)">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fill-space">
                                            @context.RecipeCategoryName
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </GridColumn>
                    <GridColumn FilterTextboxWidth="510" TItem="RecipeModel" HeaderText="Category" PropertyName="RecipeCategoryName" SortString="RecipeCategoryName" SortKeySelector="item => item.RecipeCategoryName" StringComparison="StringComparison.OrdinalIgnoreCase" />
                </Columns>
            </GridTemplate>
        </div>
    </div>
</div>

<ConfirmDialog @ref="_dialog" />

