<style>
    .blazored-modal {
        max-height: fit-content !important;
        max-width: fit-content !important;
        margin-top: 500px !important;
    }
</style>

<div class="modal-body">
    <div class="modal-title">
        <h5>@Resources.RecipeSelection.ModalTitle</h5>
    </div>

    <div class="col">
        <EditForm Model="@this" OnValidSubmit="@SaveAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group mt-3">
                <label for="recipeCategory">@Resources.RecipeSelection.LabelRecipeCategory</label>
                <select id="recipeCategory" class="form-select" @onchange="OnRecipeCategoryChangedAsync">
                    <option selected value="0">Choose...</option>
                    @if (Categories != null && Categories.Items != null && Categories.Items.Any())
                    {
                        @foreach (var item in Categories.Items)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group mt-3">
                <label for="recipeCategory">@Resources.RecipeSelection.LabelRecipe</label>
                <InputSelect id="recipe" class="form-select" @bind-Value="@RecipeId">
                    <option selected value="0">Choose...</option>
                    @if (Recipes != null && Recipes.Items!.Any())
                    {
                        @foreach (var item in Recipes.Items!)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    }
                </InputSelect>
            </div>

            <div class="col mt-3">
                <button class="btn btn-primary btn-sm" type="submit">@Resources.RecipeSelection.SaveButton</button>
                <button class="btn btn-danger btn-sm" @onclick="async ()=> await CancelAsync()">@Resources.RecipeSelection.CancelButton</button>
            </div>
        </EditForm>
    </div>
</div>
