@page "/"
@page "/recipebooks/recipesoverview"

@using RecipeBook.Shared.Models

<Breadcrumb style="--bs-breadcrumb-divider: '>';" Items="_navItems"></Breadcrumb>

<div class="card">
    <div class="card-header">
        <table>
            <tr>
                <td style="width: 100%;">
                    <h2>@Resources.RecipesOverview.PageTitle</h2>
                </td>
                <td style="white-space: nowrap;">
                    <button class="btn btn-primary btn-sm" type="button" @onclick="() => New()">@Resources.RecipesOverview.NewButton</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="card-body">
        <GridTemplate TItem="RecipeModel" @key="@_gridKey" @ref="_recipesGrid" DataProvider="DataProviderAsync" SettingsProvider="SettingsProviderAsync" TableGridClass="@_tableGridClass" PageSize="20" PageSizeSelectorItems="@(new int[] { 20, 40, 60, 80, 100 })">
            <Columns>
                <GridColumn TItem="RecipeModel" HeaderText="@Resources.RecipesOverview.HeaderName" PropertyName="Name" SortString="Name" SortKeySelector="item => item.Name" IsDefaultSortColumn="true" SortDirection="@_nameSortDirection" StringComparison="StringComparison.OrdinalIgnoreCase">
                    <div class="card-template">
                        <div class="card-header" style="position: relative; padding: 0;">
                            <img src="@context.ImageUrl"
                                 class="img-fluid"
                                 style="width: 178px; height: 100%; object-fit: cover; cursor: pointer; border-top-left-radius: 5px; border-top-right-radius: 5px;"
                                 @onclick="() => Update(context)" />

                            <img src="Images/add.png"
                                 style="position: absolute; top: 4px; left: 4px; width: 24px; height: 24px; cursor: pointer; z-index: 2;"
                                 @onclick="() => AddToMealPlanAsync(context)" />
                        </div>
                        <div class="card-body">
                            <table>
                                <tr>
                                    <td class="fill-space">
                                        @context.Name
                                    </td>
                                    <td class="min-space">
                                        @if (!string.IsNullOrWhiteSpace((context.Source)))
                                        {
                                            <a href="@context.Source" target="_blank">
                                                <img src="Images\webIcon.png" alt="icon" class="small-icon">
                                            </a>
                                        }
                                    </td>
                                    <td class="min-space">
                                        <img src="Images\delete.png" alt="icon" class="small-icon" @onclick="() => DeleteAsync(context)">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fill-space">
                                        @context.RecipeCategoryName
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </GridColumn>
                <GridColumn TItem="RecipeModel" HeaderText="@Resources.RecipesOverview.HeaderCategory" PropertyName="RecipeCategoryName" SortString="RecipeCategoryName" SortKeySelector="item => item.RecipeCategoryName" StringComparison="StringComparison.OrdinalIgnoreCase" />
            </Columns>
        </GridTemplate>
    </div>
</div>

<ConfirmDialog @ref="_dialog" />

