@using MudBlazor

<div @onclick="ToggleNavMenu" class="nav-menu">
    <div class="nav-item px-3">
        <MudNavLink class="nav-link" href="/">
            <span class="oi oi-list-rich" aria-hidden="true"></span> @Resources.NavMenu.Home
        </MudNavLink>
    </div>
    <AuthorizeView>
        <Authorized>
            <div class="nav-item px-3">
                <MudNavLink class="nav-link" href="recipebooks/productcategoriesoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Resources.NavMenu.ProductCategories
                </MudNavLink>
            </div>
            <div class="nav-item px-3">
                <MudNavLink class="nav-link" href="recipebooks/unitsoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Resources.NavMenu.ProductUnits
                </MudNavLink>
            </div>
            <div class="nav-item px-3">
                <MudNavLink class="nav-link" href="recipebooks/productsoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Resources.NavMenu.Products
                </MudNavLink>
            </div>
            <div class="nav-item px-3">
                <MudNavLink class="nav-link" href="recipebooks/productstatistics">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Resources.NavMenu.ProductsStatistics
                </MudNavLink>
            </div>
            <div class="nav-item px-3">
                <MudNavLink class="nav-link" href="recipebooks/recipecategoriesoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Resources.NavMenu.RecipeCategories
                </MudNavLink>
            </div>
            <div class="nav-item px-3">
                <MudNavLink class="nav-link" href="recipebooks/recipesoverview" Match="NavLinkMatch.All">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Resources.NavMenu.Recipes
                </MudNavLink>
            </div>
            <div class="nav-item px-3">
                <MudNavLink class="nav-link" href="recipebooks/recipestatistics">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Resources.NavMenu.RecipesStatistics
                </MudNavLink>
            </div>
            <div class="nav-item px-3">
                <MudNavLink class="nav-link" href="mealplans/mealplansoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Resources.NavMenu.MealPlans
                </MudNavLink>
            </div>
            <div class="nav-item px-3">
                <MudNavLink class="nav-link" href="mealplans/shoppinglistsoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Resources.NavMenu.ShoppingLists
                </MudNavLink>
            </div>
            <div class="nav-item px-3">
                <MudNavLink class="nav-link" href="mealplans/shopsoverview">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> @Resources.NavMenu.Shops
                </MudNavLink>
            </div>
            @if ((context.User.IsInRole("admin")))
            {
                <div class="nav-item px-3">
                    <MudNavLink class="nav-link" href="audittrail">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @Resources.NavMenu.AuditTrail
                    </MudNavLink>
                </div>
            }
        </Authorized>
    </AuthorizeView>
</div>
