@page "/mealplanedit"
@page "/mealplanedit/{Id}"

@*@if (!Saved)OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit"
{*@
<section>
    <h1 class="page-title">Details for @Model.Name</h1>
    <EditForm Model="@Model" OnValidSubmit="@Save">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group row">
            <label for="name" class="col-sm-3">Meal plan name: </label>
            <InputText id="name" class="form-control col-sm-8" @bind-Value="@Model.Name" placeholder="Enter meal plan name"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Model.Name)" />
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model.Recipes == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    @foreach (var item in @Model.Recipes)
                    {
                        <tr>
                            <td>@item.Name</td>
                        </tr>
                        <tr>
                            <table class="table1">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (@item.Ingredients == null)
                                    {
                                        <p><em>Loading...</em></p>
                                    }
                                    else
                                    {
                                        @foreach (var item1 in @item.Ingredients)
                                        {
                                            <tr>
                                                <td>@item1.Name</td>
                                                <td>@item1.Quantity</td>
                                                <td>@item1.Unit</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary edit-btn">Save</button>
    </EditForm>
</section>
@*}
else
{
    <div class="alert @StatusClass">@Message</div>
}*@
